<!DOCTYPE html>
<html>
<head>
  <title>HouseTwilio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="menu">
  <li><a href="/users">Users</a></li>
  <li><a href="/greetings">Greetings</a></li>
  <li><a href="/logs">Log</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>

<%= yield %>

</body>
</html>
